/** 
* @author: Alexander Chi
* @description:
* @date: 28/Junio/2021
**/
/** Incluido para diseño HOME**/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');

* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10000;
  transition: 0.6s;
}

header .logo{
  position: relative;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  font-size:  2em;
  text-transform: uppercase;
  letter-spacing:  2px;
  transition: 0.6s;
}

header #toggle {
  content: ' ';
  position: relative;
  width:  30px;
  height: 30px; 
  cursor: pointer; 
}

header .toggle__md {
  margin-top: 14px;
  content: ' ';
  position: absolute;
  width:  30px;
  height: 2px;
  background: #FFF; 
  transition: all 0.5s ease-in-out;
}

header #toggle::before {
  content: '';
  position: absolute;
  top: 7px;
  width:  100%;
  height: 2px;
  background: #FFF;
}

header #toggle::after {
  content: '';
  position: absolute;
  bottom: 7px;
  width:  100%;
  height: 2px;
  background: #FFF;
} 

.banner {
  position: relative;
  width:  100%;
  min-height: 100vh;
  padding: 100px; 
  /*background-image: url("./img/background.jpg");*/
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}

.banner.active header #toggle::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: animate-menu 1s ease-in-out;
}

.banner.active header #toggle::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  animation: animate-menu 1s ease-in-out;
}

.banner.active header .toggle__md {
  background: none;
}

.banner.active {
  transform:  translateX(-400px);
}

@keyframes animate-menu { 
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(-45deg); 
    transition: all 0.5s ease-in-out;
  }  
}


#navigation {
  position: fixed;
  top: 0;
  right: -200px;
  width: 400px;
  height: 100vh;
  background: #303335;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

#navigation.active {
  right: 0;
}

#navigation ul {
   position: relative;
   display: flex;
   flex-direction: column;
}

#navigation ul li {
  list-style: none;
}

#navigation ul li a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  font-size:  2em;
  font-weight:  600;
  text-transform: uppercase; 
}

#navigation ul li a:hover { 
  width:  100%;
  height: 2px;
  background: #FFF;
}

a {
  cursor: pointer;
}

.wavy {
  position: relative; 
  -webkit-box-reflect: below -25px linear-gradient(
    transparent, rgba(0, 0, 0, 0.2)
  );
}

.wavy span {
  position: relative; 
  display: inline-block; 
  color: #FFF;
  text-transform: uppercase;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%, 100% {
    transform: translateY(0px);
  }

}
 
.content {
  max-width: 600px;
}

.content h2 {
  color: #FFF;
  font-size: 2.5em;
}
 
.content h2 span.name,
.content p span.name{
  color: #f9f9aa;
  font-size: 1.2em;
} 

.content p {
  color: #FFF;
  font-size: 1.2em; 
  font-weight: 300;
}

.content a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #FFF;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2em; 
  font-weight: 500;
}

.social__medial {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100px;
}

.social__medial li {
  list-style:  none;
}

.social__medial li a {
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px solid #FFF;
  margin: 10px 0 0;
}

.social__medial li a:hover {
  background: #FFF;
}

.social__medial li img {
  max-width: 20px;
  filter: invert(1); 
  mix-blend-mode: difference;
} 

/** PROJECTS **/
.body {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 100%;   
}

.container__projects {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container__projects .box__projects { 
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #FFF;
  transition: 0.5s;
}

.container__projects .box__projects:hover {
  background: rgb(233, 30, 99, 0.5);  
} 

.container__projects .box__projects img {
  position: relative;
  max-width: 100px;
  margin-bottom: 10px;
}

/*.container__projects .box__projects:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.container__projects .box__projects:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

.container__projects .box__projects:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}

.container__projects .box__projects:nth-child(4) {
  grid-column: span 2;
  grid-row: span 1;
}*/

 
/** LINKS **/
.body__routes {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 100%;  
}

.container__routes {
  position: relative;
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: minmax(auto, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container__routes .box__routes {
  cursor: pointer;
  grid-column: unset !important;
  grid-row: unset !important;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px; 
  font-size: 20px; 
  color: #FFF;
  transition: 0.5s;
}

.container__routes .box__routes:hover { 
  background: rgb(249, 249, 170, 0.5);  
} 

.container__routes .box__routes img { 
   width: 25px;
   height: 25px;
}

.span__routes {  
  padding-left: 2em;   
}

.__links {
  position: relative;
  display: contents;
  width: 100vh;
  text-align: center; 
}

.content__logo {
  width: 100%;
  text-align: center; 
}

.content__logo .img__logo { 
  width: 150px;
  border-radius: 5em;  
  -webkit-box-reflect: below 5px linear-gradient(
    transparent, rgba(0, 0, 0, 0.2)
  );  
}

.img__logo__banner { 
  width: 35px;
  border-radius: 5em;  
  -webkit-box-reflect: below 5px linear-gradient(
    transparent, rgba(0, 0, 0, 0.2)
  );  
}

/** About me **/
.body__about {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 100%;  
}

.container__about { 
  position: relative;
  max-width: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  grid-template-rows: minmax(auto, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container__about .box__about {  
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #FFF;
  transition: 0.5s;
}

.p__about {
  padding: 1.2em;
  text-align: justify;
}

.img__about {
    width: 100%; 
} 

/** **/
.container__routes .box__routes .img__not__found {
  width: 250px !important;
  height: 250px !important;
}

/** MOVILE **/
@media (max-width: 767px) {
  header { 
    padding: 20px 50px; 
  }

  .banner {
    padding: 100px 50px 150px;
  } 

  .banner h2{
    font-size: 1.8em;
  }

  .banner .content p, 
  .banner .content a{
    font-size: 1em;
  }

  .banner.active {
    transform:  translateX(-250px);
  }

  .img__logo__banner {
    display: none;
  }

  #navigation {
    width: 250px;
  }

  #navigation ul li a {
    font-size: 1.5em;
    margin: 5px 0;
  }

  .social__medial {
    position: absolute;
    bottom: 50px;
    right: initial;
    flex-direction: row;
  }

  .social__medial li a {
    margin: initial;
    margin-right: 10px;
  }

  .container__projects, 
  .container__about{
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }

  .container__projects .box__projects,
  .container__about .container__about{
    grid-column: unset !important;
    grid-row: unset !important;
  } 

  .p__about {
    padding: 0.2em;
    font-size: 0.8em ;
    text-align: justify;
  }
  h2 { 
    font-size: 1.2em !important; 
    text-align: left !important; 
  }
}
 